@using projetGarderieWebApp.Models
@model DepenseDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <h1>Sélectionner une garderie : </h1>
    <form method="get" action="">
        <select name="nomGarderie" onchange="this.form.submit()" id="garderie">
            @foreach (GarderieDTO garderie in ViewBag.listeGarderies)
            {
                @if(@garderie.Nom.Equals(ViewBag.nomGarderie))
                {
                    <option value=@garderie.Nom action="garderie" selected>@garderie.Nom</option>
                }
                else
                {
                    <option value=@garderie.Nom action="garderie">@garderie.Nom</option>
                }
            }
        </select>
    </form>
    @*Affichage de la liste des depenses...*@
    <br>
    <h3>Liste des Dépense(s) (@ViewBag.listeDepenses.Length Dépense(s)) :</h3>
    <br>
    
    <form asp-area="" asp-controller="Depense" asp-action="ViderListeDepense" method="post">
        <table>
        <tr>
            <th>Date</th>
            <th>Montant</th>
            <th>Montant admissible</th>
            <th><input id="vidation" onclick="if(confirm('Voulez vous?')){this.form.action='/Depense/ViderListeDepense'; this.form.method='post';submit();}" type="button" value="Vider liste Depenses"></th>
        </tr>
            <tr><td><input type="hidden" id="nomDepense" name="nomDepense"></td></tr>
            @foreach (DepenseDTO depense in ViewBag.listeDepenses)
                {<tr>
                    <td>@depense.DateTemps</td>
                    <td class="montant">@String.Format("{0:C}", @depense.Montant)</td>
                    <td class="montant">@depense.MontantAdmissible</td>
                    @*td><input onclick="document.getElementById('nomDepense').value = '@depense.DateTemps'; this.form.action='/Depense/FormModifier'; this.form.method='get'; submit();" type="button" value="Modifier"><input onclick="if(confirm('confirmation silvouple')){document.getElementById('nomDepense').value = '@depense.Nom'; this.form.action='/Depense/SupprimerDepense'; this.form.method='post'; submit();}" type="button" value="Supprimer"></td>*@
                </tr>}
        </table>
        
    </form>
    
    <script>
        if(@ViewBag.listeDepenses.Length==0){
            document.getElementById('vidation').style.display = "none";
        }
    </script>
    
    <form asp-area="" asp-controller="Depense" asp-action="" method="get">
    
    <table>
        <tbody>

            
        </tbody>
    </table>
    </form>

    <br />
    <h3>Ajouter une dépense</h3>
    <br />

    <form asp-controller="Depense" asp-action="AjouterDepense" method="post">
        <select name="CategorieDepense" id="categorie">
            @foreach (CategorieDepenseDTO categorie in ViewBag.listeCategorieDepense)
            {
                {
                    <option value=@categorie.Description action="departement" selected>@categorie.Description</option>
                }
            }
        </select>
        <select name="Commerce" id="commerce">
            @foreach (CommerceDTO commerce in ViewBag.listeCommerce)
            {
                {
                    <option value=@commerce.Description action="departement" selected>@commerce.Description</option>
                }
            }
        </select>
        <table>
            <tbody>
            <tr>
                <td> <label asp-for="Montant"></label></td>
                <td> <input asp-for="Montant"> </td>
            </tr>
            <tr><td><input type="submit" value="Ajouter"></td></tr>   
        </tbody>
         
    </table>
        
    </form>
}

