@using projetGarderieWebApp.Models
@model PresenceDTO;

@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <h1>Sélectionner un enfant : </h1>
    <form method="get" action="">
        <select name="nomEnfant" onchange="this.form.submit()" id="enfant">
            @foreach (EnfantDTO enfant in ViewBag.listeEnfants)
            {
                @if(@enfant.Nom.Equals(ViewBag.nomEnfant))
                {
                    <option value=@enfant.Nom action="enfant" selected>@enfant.Nom</option>
                }
                else
                {
                    <option value=@enfant.Nom action="enfant">@enfant.Nom</option>
                }
            }
        </select>
    </form>
    @*Affichage de la liste des depenses...*@
    <br>
    <h3>Liste des Dépense(s) (@ViewBag.listeDepenses.Length Dépense(s)) :</h3>
    <br>
    
    <form asp-area="" asp-controller="Presence" asp-action="ViderListePresence" method="post">
        <table>
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Enfant</th>
            @*<th><input id="vidation" onclick="if(confirm('Voulez vous?')){this.form.action='/Presence/ViderListePresence'; this.form.method='post';submit();}" type="button" value="Vider liste Presences"></th>*@
        </tr>
            <tr><td><input type="hidden" id="nomPresence" name="nomPresence"></td></tr>
            @foreach (PresenceDTO presence in ViewBag.listePresences)
                {<form>
                    <tr>
                    <td>@presence.Enfant.Prenom</td>
                    <td>@presence.Enfant.Nom</td>
                    <td>@presence.Date</td>
                    <input type="hidden" name="nomGarderie" value="@presence.NomGarderie">
                    <td><input class="btn btn-primary" onclick="document.getElementById('nomPresence').value = '@presence'; this.form.action='/Presence/FormModifierPresence'; this.form.method='get'; submit();" type="button" value="Modifier"></td>
                    <td><input class="btn btn-primary" onclick="if(confirm('Veux tu')){this.form.action='/Presence/SupprimerPresence'; this.form.method='post'; submit();}" type="button" value="Supprimer">
                </tr></form>}
        </table>
        
    </form>
    
    <script>
        if(@ViewBag.listePresences.Length==0){
            document.getElementById('vidation').style.display = "none";
        }
    </script>
    

    <br />
    <h3>Ajouter une dépense</h3>
    <br />

    <form asp-controller="Depense" asp-action="AjouterDepense" method="post">
        <label>Enfant</label>
        <select asp-for="Enfant">
            @foreach (EnfantDTO enfant in ViewBag.listeEnfant)
            {
                {
                    <option value="@enfant.Prenom|||@enfant.Nom|||@enfant.DateNaissance" action="departement" selected>@enfant.Prenom @enfant.Nom</option>
                }
            }
        </select>
        <table>
            <tbody>
            <tr>
                <td> <label asp-for="Date"></label></td>
                <td> <input asp-for="Date" type="date"> </td>
            </tr>
                <input type="hidden" name="nomGarderie" value="@ViewBag.nomGarderie">
            <tr><td><input class="btn btn-primary" type="submit" value="Ajouter"></td></tr>   
        </tbody>
         
    </table>
        
    </form>
}

