@using projetGarderieWebApp.Models
@model CategorieDepenseDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{


    @*Affichage de la liste des commerces...*@
    <br>
    <h3>Liste des CategorieDepense(s) (@ViewBag.listeCategorieDepenses.Length CategorieDepense(s)) :</h3>
    <br>
    
    <form asp-area="" asp-controller="CategorieDepense" asp-action="ViderListeCategorieDepense" method="post">
        <table>
        <tr>
            <th>Description</th>
            <th>Pourcentage</th>
            <th><input class="btn btn-danger" id="vidation" onclick="if(confirm('Voulez vous?')){this.form.action='/CategorieDepense/ViderListeCategorieDepense'; this.form.method='post';submit();}" type="button" value="Vider liste CategorieDepenses"></th>
        </tr>
            <tr><td><input type="hidden" id="descriptionCategorie" name="descriptionCategorie"></td></tr>
            @foreach (CategorieDepenseDTO categorieDepense in ViewBag.listeCategorieDepenses)
                {<tr>
                    <td>@categorieDepense.Description</td>
                    <td class="pr-2">@categorieDepense.Pourcentage</td>
                    <td><input class="btn btn-primary" onclick="document.getElementById('descriptionCategorie').value = '@categorieDepense.Description'; this.form.action='/CategorieDepense/FormModifier'; this.form.method='get'; submit();" type="button" value="Modifier">
                        <input class="btn btn-primary" onclick="if(confirm('confirmation silvouple')){document.getElementById('descriptionCategorie').value = '@categorieDepense.Description'; this.form.action='/CategorieDepense/SupprimerCategorieDepense'; this.form.method='post'; submit();}" type="button" value="Supprimer"></td>
                    
                </tr>}
        </table>
        
    </form>
    
    <script>
        if(@ViewBag.listeCategorieDepenses.Length<=1){
            document.getElementById('vidation').style.display = "none";
        }
    </script>
    

    <br />
    <h3>Ajouter un CategorieDepense</h3>
    <br />

    <form asp-controller="CategorieDepense" asp-action="AjouterCategorieDepense" method="post">
        <table>
            <tbody>
            <tr>
                <td> <label asp-for="Description"></label></td>
                <td> <input asp-for="Description" required> </td>
            </tr>
            <tr>
                <td> <label asp-for="Pourcentage"></label></td>
                <td> <input asp-for="Pourcentage" required> </td>
            </tr>
            <tr><td><input class="btn btn-primary" type="submit" value="Ajouter"></td></tr>   
        </tbody>
         
    </table>
        
    </form>
}

